body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  color: white;
}

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: #00000090;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.player {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  background: #00000090;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.controls button {
  font-size: 20px;
  margin: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 8px;
}
